// Colors
$b1cd: #dde4e7;
$b1cl: #ffffff;
$b2cd: #dde4e7;
$b2cl: #ffffff;
$b3cd: #dde4e7;
$b3cl: #ffffff;
$b4cd: #dde4e7;
$b4cl: #ffffff;
$b5cd: #dde4e7;
$b5cl: #ffffff;
$black: #000;
$button: rgb(41, 41, 41);
$contex: #242424;
$title: #0c0c0c;
////////// Mixin

// Generate different colors for slides
@mixin color_render($DC, $LC) {
  background-color: $DC;
  .illustration .inner {
    background-color: $LC;

    &::after,
    &::before {
      background-color: rgba($LC, 0.3);
    }
  }
  button {
    background-color: $LC;
  }
}

.parent {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 10.5%;
  color: $button;
  @media only screen and (max-width: 1000px) {
    padding: 0;
  }
  @media only screen and (max-width: 800px) {
    font-size: 57%;
  }
}

.container {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;

  @media only screen and (max-width: 1000px) {
    border-radius: 0;
  }
}

.slider {
  display: flex;
  width: 500%;
  height: 25rem;
  transition: all 0.25s ease-in;
  // overflow-x: auto;
  // scroll-snap-type: x mandatory;
  // -webkit-overflow-scrolling: touch;
  // scroll-behavior: smooth;
  transform: translateX(0);

  @media only screen and (max-width: 1000px) {
    height: 80vh;
  }

  .box {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    overflow: hidden;
    position: relative;

    @media only screen and (max-width: 650px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
    }

    .bg {
      padding: 2rem;
      background-color: rgba($black, 0.05);
      width: 55%;
      transform: skewX(7deg);
      position: absolute;
      height: 100%;
      left: -10%;
      padding-left: 20rem;
      transform-origin: 0 100%;

      @media only screen and (max-width: 800px) {
        width: 65%;
      }

      @media only screen and (max-width: 650px) {
        width: 100%;
        left: 0;
        bottom: 0;
        height: 54%;
        transform: skewX(0deg);
      }

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: inherit;
        pointer-events: none;
        transform: skewX(10deg);

        @media only screen and (max-width: 650px) {
          width: 120%;
          bottom: 0;
          transform: skewX(0deg);
        }
      }
    }

    .details {
      padding: 2rem;
      padding-left: 5rem;
      z-index: 100;
      grid-column: 1 / span 1;
      grid-row: 1 / -1;

      @media only screen and (max-width: 650px) {
        grid-row: 2 / span 1;
        grid-column: 1 / -1;
        text-align: center;
        padding: 2rem;
        margin-top: 2rem;
        transform: translateY(-2rem);
      }

      h1 {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
        color: $title;
        @media only screen and (max-width: 650px) {
          font-size: 0.8rem;
        }
      }

      p {
        display: inline-block;
        font-size: 0.8rem;
        color: $contex;
        margin-bottom: 1rem;
        margin-right: 5rem;

        @media only screen and (max-width: 800px) {
          margin-bottom: 1rem;
          margin-right: 0;
        }
        @media only screen and (max-width: 650px) {
          font-size: 0.65rem;
          margin-bottom: 0.5rem;
        }
      }

      button {
        padding: 0.5rem 1rem;
        color: $button;
        border-radius: 0.5rem;
        outline: none;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
        font-size: 0.8rem;

        &:hover {
          opacity: 0.8;
        }

        &:focus {
          outline: none;
          border: none;
        }
        @media only screen and (max-width: 800px) {
          padding: 0.5rem 1rem;
        }
        @media only screen and (max-width: 650px) {
          font-size: 0.65rem;
          padding: 0.4rem 0.7rem;
        }
        
      }
    }
  }

  .box1 {
    @include color_render($b1cd, $b1cl);
  }
  .box2 {
    @include color_render($b2cd, $b2cl);
  }
  .box3 {
    @include color_render($b3cd, $b3cl);
  }
  .box4 {
    @include color_render($b4cd, $b4cl);
  }
  .box5 {
    @include color_render($b5cd, $b5cl);
  }

  .illustration {
    padding-top: 1rem;
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    justify-self: center;

    @media only screen and (max-width: 650px) {
      grid-row: 1 / span 1;
      grid-column: 1 / -1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    div {
      height: 15rem;
      width: 22rem;
      border-radius: 1rem;
      background-color: $b1cl;
      position: relative;
      transform: skewX(-10deg);
      -webkit-box-shadow: 0px 10px 13px -7px #000000,
        15px -15px 0px 0px rgba(0, 0, 0, 0);
      box-shadow: 0px 10px 13px -7px #000000,
        15px -15px 0px 0px rgba(0, 0, 0, 0);
        overflow-y: hidden;
        overflow-x: hidden;
      @media only screen and (max-width: 800px) {
        height: 16rem;
        width: 15rem;
        border-radius: 1rem;
      }
      @media only screen and (max-width: 650px) {
        height: 10rem;
        width: 12rem;
        border-radius: 1rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

      }
    }
  }
}

.prev,
.next,
.trail {
  z-index: 10000;
  position: absolute;
}

.prev,
.next {
  width: 4rem;
  cursor: pointer;
  opacity: 0.2;
  transition: all 0.3s ease;

  @media only screen and (max-width: 650px) {
    display: none;
  }

  &:hover {
    opacity: 1;
  }
}
.prev {
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.next {
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

.trail {
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  text-align: center;
  font-size: 1.5rem;

  @media only screen and (max-width: 650px) {
    width: 90%;
    bottom: 2%;
  }

  div {
    padding: 1rem;
    border-top: 3px solid #fff;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.6;
    }

    @media only screen and (max-width: 650px) {
      padding: 1rem;
    }
  }
}

.active {
  opacity: 1 !important;
}
